* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    background-color: black;
    color: antiquewhite;
}

header {
    font-size: 20px;
    width: auto;
    text-align: center;
    padding: 40px;
}

header > h1 {
    padding: 20px 10px;
}

header > h2 {
    padding: 20px 10px;
}

header > p {
    font-style: italic;
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.results {
    text-align: center;
    font-size: 16px;
    font-style: italic;
    color: green;
    padding: 10px;
}

.gameboard {
    display: grid;
    order: 2;
    width: 300px;
    height: 300px;
    grid-template-columns: repeat(3, auto);
}
.gameplay {
    display: flex;
    flex-direction: row;
    order: 2;
    padding: 20px;
}

.buttons {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    background-color: firebrick;
    color: white;
    text-align: center;
    padding: 15px 30px;
    border-style: none;
}

.cell {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    border: 5px solid white;
    transition: 0.2s ease-in-out;
}
.cell:hover {
    background-color: bisque;
}

.characters {
    display: block;
    order: 1;
    font-size: 20px;
    width: 200px;
    height: 200px;
}

h3 {
    font-size: 20px;
    padding: 20px;
}

.scoreboard {
    display: inline-block;
    order: 3;
}

.scoreboard > ul {
    list-style-type: none;
}

img {
    display: flex;
    flex-direction: row;
    height: 75px;
    width: 75px;
}

.reset-game {
    padding: 10px;
}

footer {
    padding: 30px;
    text-align: center;
}