* {
    font-family: 'Lato', sans-serif;
    margin: auto;
    max-width: 980px;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) { 
* {
    height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    margin: 0 auto;
    max-width: 30%;
}
.container {
    display: flex;
    flex-direction: row;
    max-width: 300px;
}
.gameplay {
    display: flex;
    flex-direction: row;
    max-width: 300px;
}
.gameboard {
    display: grid;
    order: 1;
    width: 200px;
    height: 200px;
    grid-template-columns: repeat(3, auto)
}
.cell {
    width: 50px;
    height: 50px;
}
.scoreboard {
    display: flex;
    flex-direction: row;
    max-width: 300px;
}
.characters {
    display: flex;
    flex-direction: row;
    max-width: 300px;
}
}

body {
    background-color: rgb(7, 19, 28);
    color: white;
}

header {
    text-align: center;
    padding-top: 40px;
    flex-wrap: wrap;
}

.container {
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.results {
    position: absolute;
    flex-wrap: wrap;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
    color: rgb(34,139,34);
    padding: 10px;
    transition: text-indent .5s;
    letter-spacing: 0.05em;
}

.results:hover {
    text-indent: 5px;
    transition: text-indent .5s;
    animation:  shake 0.8s;
  }
  
  @keyframes shake{
    0%{
      transform: translateX(0)
    }
    25%{
      transform: translateX(25px);
    }
      
    50%{
      transform: translateX(-25px);
    }
    100%{
      transform: translateX(0px);
    }
}

.text:hover::before {
    display: inline-block;
    content: '&#x2708;︎';
}

.gameboard {
    display: grid;
    order: 1;
    width: 350px;
    height: 350px;
    border-radius: 2em;
    grid-template-columns: repeat(3, auto);
}
.gameplay {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    order: 2;
    padding: 40px;
}
.gameButtons {
    order: 2;
    padding: 20px;
}
.gameplay > #Play {
    order: 2;
    padding: 10px;
    width: 100px;
}
.gameplay > #Rematch {
    order: 3;
    padding: 10px;
    width: 100px;
}
.chooseButton {
    padding: 10px;
}

button {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    padding: 10px;
    font-size: 18px;
    border: 0.16em solid rgb(140,22,22);
    background-color: rgb(176, 35, 35);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color: white;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align: center;
    transition: all 0.2s;
    min-width: 100px;
}

.buttons:hover {
    border-color: rgb(235, 109, 109);
}

.cell {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    border: 5px solid white;
    transition: 0.2s ease-in-out;
    border-radius: 2em;
    
}
.cell:hover {
    border-color: rgb(176, 35, 35);
    color: yellow;
    font-size: 20px;
    transition: 0.5s ease-in-out;
}

.characters {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    order: 1;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    justify-content: center;
}

h3 {
    font-size: 20px;
    padding: 10px;
    letter-spacing: 0.05em;
}

.scoreboard {
    display: flex;
    order: 3;
    padding: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.score {
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.score:hover {
    color: yellow;
}

.scoreboard > ul {
    list-style-type: none;
    text-align: center;
}

img {
    display: flex;
    height: 100px;
    width: 100px;
    padding: 10px;
    border-radius: 1em;
    flex-wrap: wrap;
    align-content: center;
}

.reset-game {
    padding: 10px;
    justify-content: flex-end;
    display: flex;
}

footer {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scary {
    padding: 20px;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.text {
    font-weight:100;
    font-size: 28px;
    color: #FAFAFA;
}
.dud {
    color: #757575;
}